##############################
# Archivos del sistema / IDEs
##############################
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/


##############################
# Archivos de Python
##############################
__pycache__/
*.py[cod]
*$py.class
*.pyo



##############################
# Node.js / React / Vite
##############################
node_modules/


##############################
# Archivos temporales / backup
##############################
*.swp
*.bak
*.tmp
*.old
*.save




##############################
# Archivos comprimidos
##############################
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tgz
*.gz
*.bz2
*.xz
