<!-- templates/email/verificacion.html -->
<html>
  <body>
    <p>Hola {{ user.username }},</p>
    <p>Gracias por registrarte en Metrik Padel. Para activar tu cuenta:</p>
    <p>
      📱 Si estás en el móvil:<br>
      <a href="metrikpadel://activar-cuenta/{{ uid }}/{{ token }}">Abrir en la App</a>
    </p>
    <p>
      💻 Si estás en el navegador:<br>
      <a href="https://www.metrikpadel.com/activar-cuenta/{{ uid }}/{{ token }}">Verificar desde la Web</a>
    </p>
    <p>Si tú no solicitaste esta cuenta, puedes ignorar este correo.</p>
    <p>¡Nos vemos en la pista! 🎾</p>
  </body>
</html>
